*{
  color: hotpink;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: cyan;
  background-position: center;
  background-size: cover;
  border-bottom: -15px;
  margin-bottom: -15px;
  text-decoration: none;
}
.navbar {
  width: 85;
  margin-top: -50px;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: hotpink;
}
.logo {
  width: 120p;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: hotpink;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  text-decoration: none;
  background: blue;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
  text-decoration: none;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  text-decoration: none;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  text-decoration: none;
}
.button {
  display: inline;
  width: auto;
  padding: 5px;
  text-align: center;
  margin: 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid blue;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  left: auto;
  right: auto;
  text-decoration: none;
}
.button a {
  text-decoration: none;
}
.button:hover span {
  width: auto;
  background: blue;
  text-decoration: none;
  border: 2px solid blue;
}
.button:hover {
  background: blue;
  text-decoration: none;
  border: 2px solid blue;
}
